<!DOCTYPE html>
<html>
  <head>
    <title>TimeMidpoint</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCKQ1sBI9xkbkB4KxF8tuoIoHAhmEzhCAg&sensor=false"></script>
    <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
    <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <%if current_page?('/landing')%>
  <body class='<%="landing-background"%>'>
    <div class='<%="transparent"%>'>
    <%end%>
      <div class="container">
     
        
          <% if user_signed_in? %>
          <header>
            <div class="links"><strong>Hi, <%= current_user.first_name%></strong></div>
          <ul class= "nav nav-tabs home-right">
            <li class="links"><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li class = "links"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          </ul>

        </header>
      <% end %>

        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://www.mapnificent.net/media/api/1/mapnificent.js" type="text/javascript" charset="utf-8"></script>
  </body>
    <%= javascript_include_tag "application" %>


</html>
