<!DOCTYPE html>
<html>
  <head>
    <title>TimeMidpoint</title>
    <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
    <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      
    </header>
    <div class="container">
      <%= yield %>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= button_to "Register", new_user_registration_path, :class => "btn btn-primary btn-lg", :method => "get" %>
      <%= button_to "Sign in", new_user_session_path, :class => "btn btn-primary btn-sm" %>
      <% end %>
    </div>
  </body>
</html>
