<!DOCTYPE html>
<html>
  <head>
    <title>TimeMidpoint</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKQ1sBI9xkbkB4KxF8tuoIoHAhmEzhCAg&sensor=false"></script>
    <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
    <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="landing-background">
    <div class="transparent">
      <% if user_signed_in? %>
      <header>
        <div id="user-info">
          <p>Hi <strong><%= current_user.first_name%></strong>.</p>
          <%= link_to 'Edit profile', edit_user_registration_path %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </div>
      </header>
      <% end %>
        <div class="container">
        <div class="row">
      <%= yield %>
        </div>
        </div>
    </div>
  </body>
</html>